.button {
    background-color: green;
}

.button:highlighted {
    animation-name: highlight;
    animation-duration: 1s;
}

@keyframes highlight {
    from { background-color: green; }
    to { background-color: red; }
}